:root{
    --primary: #05668D;
    --secondary: #00A896;
    --white: #fff;
}
a{
    color: var(--primary);
}
img{
    max-height: 100%;
    max-width: 100%;
}
a:hover:not(.nav-link):not(.navbar-brand){
    color: var(--secondary);
    text-decoration: none!important;
    border-bottom: var(--secondary) 2px solid!important;
    border-left: var(--secondary) 2px solid!important;
    padding: 0 0 0 5px;
}
nav.navbar{
    padding: 15px;
    background: rgb(0,168,150);
    background: -moz-linear-gradient(61deg, rgba(0,168,150,1) 0%, rgba(5,102,141,1) 100%);
    background: -webkit-linear-gradient(61deg, rgba(0,168,150,1) 0%, rgba(5,102,141,1) 100%);
    background: linear-gradient(61deg, rgba(0,168,150,1) 0%, rgba(5,102,141,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#00a896",endColorstr="#05668d",GradientType=1);
}
.navbar .nav-link{
    color: white!important;
}
.navbar .active .nav-link,.navbar .nav-link:hover {
    color: var(--primary)!important;
    font-weight: bold;
}
.navbar .navbar-brand img{
    max-height: 60px;
}

footer.footer{
    padding: 15px;
    width: 100%;
    background-color: black;
    color: white;
    /*position: fixed;*/
    /*bottom: 0;*/
}
.gradient-background{
    background: rgba(0,168,150,0.6);
    background: -moz-linear-gradient(61deg, rgba(0,168,150,1) 0%, rgba(5,102,141,1) 100%);
    background: -webkit-linear-gradient(61deg, rgba(0,168,150,1) 0%, rgba(5,102,141,1) 100%);
    background: linear-gradient(61deg, rgba(0,168,150,1) 0%, rgba(5,102,141,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#00a896",endColorstr="#05668d",GradientType=1);
}

.cover-container .cover-card{
    position: relative;
    border-radius: 3px;
    width: 100%;
    height: 100%;
    background: rgba(0,168,150,0.6);
    background: -moz-linear-gradient(61deg, rgba(0,168,150,0.6) 0%, rgba(5,102,141,0.6) 100%);
    background: -webkit-linear-gradient(61deg, rgba(0,168,150,0.6) 0%, rgba(5,102,141,0.6) 100%);
    background: linear-gradient(61deg, rgba(0,168,150,0.6) 0%, rgba(5,102,141,0.6) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#00a896",endColorstr="#05668d",GradientType=1);

}
.cover-container{
    /*height: 100%;*/
    position: relative;
    top: 15%;
    left: 15%;
    max-width: 500px;
    max-height: 300px;
}
.cover-container-right{
    left: 60%;
}
.cover-container .cover-content{
    /*height: 200px;*/
    /*position: absolute;*/
    /*top: 5%;*/
    /*left: 10%;*/
    /*right: 10%;*/
    padding: 15%;
    text-align: center;
    color: #fff;
}
.cover-container .cover-content img{
    margin: 0 auto;
    display: block;
    max-width: 250px;
}
.header{
    padding: 20px;
    text-align: center;
    color: white;
    /*min-height: 200px;*/
    background-color: var(--primary);
}
.bike-section{
    background-image: url("/assets/images/background-1.jpg");
    /*background-attachment: fixed;*/
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: calc(100vh - 100px);
    min-height: 300px;
    position: relative;
}

.customer-section{
    background-color: #f8f9fa;
}


.bold-item-container{
    clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%);
    max-width: 250px;
    height: 250px;
    width: 50%;
    margin: 20px auto;
    background-color: black;
    position: relative;
    display: block;
}

.bold-item{
    clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%);
    position: absolute;
    top: 15%;
    left: 15%;
    right: 15%;
    bottom: 15%;
    background-color: gray;
}

.bold-item-text{
    position: absolute;
    top: 20%;
    left: 15%;
    right: 15%;
    bottom: 25%;
    color: white;
    text-align: center;
    font-size: 24px;
}
.repair-section{
    background-image: url("/assets/images/background-2.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 300px;
    position: relative;
    height: 100vh;
}
.bikes-section img{
    height: 250px;
}
.bikes-section{
    text-align: center;
}
.form-control{
    border-radius: unset;
    border: unset;
    background-color: rgba(255,255,255,0)!important;
    border-bottom: 2px solid var(--white);
    color: var(--white)!important;
}
.form-control:active, .form-control:focus{
    border-bottom-color: var(--white);
    border-right: 2px solid var(--white);
    box-shadow: unset;
}

.btn-primary {
    background: var(--primary);
    color: white!important;
    border: unset;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active {
    background-color: var(--primary)!important;
    color: white!important;
    border-color: 3px solid var(--primary)!important;
    box-shadow: unset;
}

.chatbot-container iframe{
    border: 3px solid var(--primary);
    border-radius: 5px;
    background-color: var(--primary);
}
.chatbot-container{
    position: fixed;
    bottom: 15px;
    right: 15px;
}
.chatbot-container .close-btn{
    position: absolute;
    right: 0;
}

.chatbot-container .open-btn{
    display: block;
    color: white;
    font-size: 64px;
    padding: 15px;
}