<section class="customer-section">
<div class="container-fluid">
    <div class="row">
        <div class="col-md-4">
            <div class="bold-item-container">
                <div class="bold-item">
                    <div class="bold-item-text">
                        <b>144</b> <br/>te vreden klanten
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</section>